/*Universal Styles*/
* {
    box-sizing: border-box;
}
body {
    background: white;
    width: 100%;
    height: 100%;
/*    max-width: 1536px;*/
/*    position: relative;*/
    margin: 0 auto;
    font-family: 'Merriweather', serif;
/*    width: 1440px;
    height: 900px;*/
}
html {
    height: 100%;
}

/*Media Queries 360x640*/

@media only screen and (min-width: 1px){
/*video {
    object-fit: cover;
}*/

.gradient {
    background: linear-gradient(to left, #020625d9, #ffffff00);    
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* opacity: 0.2; */
    z-index: 2;
    object-fit: cover;
}
p {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #454545;
    line-height: 0;
    margin-top: 0.5%;
    font-size: 1rem;
}
#header {
/*    background: #ededed;
*/    width: 100%;
    display: block;
    height: 80px !important;
}
#linkref {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    height: 500px;
    position: relative;
    text-align: center;
    line-height: 2.5;
}
a:hover {
    color: black !important;
}
a:active {
    color: #a8c3c6 !important;
    border: none;
}
a:visited: {
    color: #cccccc !important;
}

#nested {
    position: relative;
    margin: auto;
    margin-top: 4.8%;
    right: 0;
    bottom: 0;
    z-index: 9;
    left: 0;
    text-align: center;
}
.hawk, .goat, .cicada {
    display: block;
    width: 30%;
    text-align: center;
    margin: 0% 0% 4% 0%;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    height: 3rem;
    position: relative;
    line-height: 2.5;
    background: #d67f12;
}
}
/*Mainpage Styles*/

h2 {
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: lighter;
    letter-spacing: 20px;
    font-size: .8rem;
    line-height: 1;
    color: white;
    width: 100%;
    text-shadow: 3px 2px 7px #2a2a2a;
    margin: auto 0;
}
a:active {
    color: black !important;
    border: none;
}
a:visited: {
    color: #a8c3c6 !important;
}

/*Mainpage Styles*/

h1 {
    display: inline;
    font-size: 7.7rem;
    text-align: center;
    /* text-shadow: 1px 1px 6px #7f7f7f; */
    letter-spacing: 5px;
}
h2 {
    font-size: 3rem;
    text-align: center;
/*    letter-spacing: 11px;
*/    line-height: 1;
    width: 100%;
    text-shadow: 3px 2px 7px #2a2a2a;
    margin: auto 0;
}
.btn {
    display: block;
    background: #d67f12;
    color: white;
    width: 9rem;
    height: 3rem;
    position: relative;
    margin: auto;
    right: 0;
    bottom: 0;
    z-index: 9;
    left: 0;
    margin-top: 3%;
    text-align: center;
}
a:link {
    color: #2c6576;
    text-decoration: none;
}
a:visited {
  color: #5d5d5d;
  text-decoration: none;
}
.question1 {
    background: linear-gradient(to left, #e0682f, #ffffff);
    font-family: 'Bebas Neue', curive;
    font-size: 2.7rem;
    color: #d67f12;
    margin: 0 0 0 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
}
#nestedAgain {
    position: relative;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
.boxOneText {
    margin: 0 0 0 0;
    text-align: left;
    position: relative;
    line-height: 9;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
    width: 100%;
    height: 325px;
    display: inline-block;
}
}

/*Media Queries 320*/

@media only screen and (min-width: 320px){
.question1 {
    font-size: 1.8rem;
    margin-top: 17%;
}
.boxOne {
    height: 200px;
    width: 100%;
    margin: 0 0 0 0%;
}
.boxOneText {
    height: 50px;
    line-height: 2;
}
}
/*Media Queries 360*/

@media only screen and (min-width: 360px){
.question1 {
    font-size: 1.8rem;
}

.boxOne, .boxTwo, .boxThree {
    height: 200px;
    width: 100%;
}
.boxOne {
    margin: 0 0 0 0%;
}
.boxOneText, .boxTwoText, .boxThreeText {
    height: 510px;
    line-height: 2;
}
#nestedAgain {
    position: relative;
    margin: 15% 0 0 7%;
    width: 91%;
    height: 100%;
    display: inline-block;
}
.hawk, .goat, .cicada {
    margin: 0% 0% 4% 4%;
}
.boxTwo, .boxThree {
    margin: 4% 0 0 0;
}
}
/*Media Queries 375*/

@media only screen and (min-width: 375px){
    .question1 {
    font-size: 1.8rem;
}
.boxOne, .boxTwo, .boxThree {
    height: 230px;
}
.boxOneText, .boxTwoText, .boxThreeText {
    height: 48px;
}
}


@media only screen and (min-width: 411px){
.question1 {
    font-size: 1.8rem;
}
.boxOne, .boxTwo, .boxThree {
    height: 230px;
}
.boxOneText, .boxTwoText, .boxThreeText {
    height: 50px;
}
}

@media only screen and (min-width: 414px){
.question1 {
    font-size: 1.8rem;
}
.boxOne, .boxTwo, .boxThree {
    height: 230px;
}
.boxOneText, .boxTwoText, .boxThreeText {
    height: 50px;
}
}

@media only screen and (min-width: 768px){
.question1 {
    font-size: 1.8rem;
}
.boxOne {
    height: 430px;
}
.boxOneText {
    height: 79px;
    font-size: 1.5rem;
    line-height: 3.5;
}
}

@media only screen and (min-width: 1024px){
h1 {
    font-size: 9rem;
}
.question1 {
    font-size: 2.8rem;
}
.boxOne {
    height: 430px;
    width: 44%;
    margin: 2% 2% 2% 2%;
}
.boxOne {
    margin-left: 4%
}
.boxOneText {
    height: 78px;
    font-size: 1rem;
    line-height: 2;
}
}

@media only screen and (min-width: 1025px){
body {
        max-width: 1536px !important;
}
.question1 {
    font-size: 2.7rem;
    padding-top: 9%;
    width: 100%;
    margin-left: 3%;
    margin-bottom: 1%;
    position: relative;
}
.boxOne {
    width: 100%;
    height: 36%;
}
.boxOneText {
    padding-top: 1%;
    height: 78px;
    width: 100%;
    font-size: 1rem;
    line-height: 2;
}
#nestedAgain {
    margin: 6% 0 0 60%;
    width: 34%;
}
.hawk, .goat, .cicada {
    margin: 0% 0% 4% 4%;
}
}


